body {
    background-color: #FAF8F0;
    color:#1F150A;
    margin: 0;
    font: 1.2em Helvetica, Arial;
}

.blogName {
    font-size: 200%;
    padding: 50px 20px;
    margin: auto;
    max-width: 980px;
    text-align: center;
}

nav {
    background-color: #1F150A;
    padding: .5em;
    position: sticky;
    top: 0;
}

nav ul {
    margin: .3em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

nav a {
    color: #FAF8F0;
    padding: .5em 1em;
    flex: 1 auto;
}

.blogIcon {
    background-color: brown;
    border-radius: 5%;
    padding-top: 4px;
    padding-bottom: 4px;
}

#latestRecipes {
    text-align: center;
}

.recipeGallery {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    width: 100%;
    height: auto;
  }

  img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
    display: block;
  }

  a {
    text-decoration: none;
    color: #1F150A;
  }